{% extends "index.html" %}

{% block title %}
    Transport Selection
{% endblock %}

{% block style %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .dropdown {
            width: 100%;
            margin-bottom: 20px;
        }

        .dropdown select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            font-size: 16px;
        }

        .btn-submit {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .btn-submit:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block logout%}
<a class="bg-txt text-white w-28 h-12 rounded-full flex justify-center items-center font-semibold hover:shadow-lg hover:text-primary" href="{{url_for('logout')}}">Logout</a>
{% endblock %}
  
{% block content %}

<div class="container">
    <h1>Tour Reservation</h1>
    <form action="/select_transport" method = "POST">
        <div class="dropdown">
            <label for="transport">Select Transport:</label>
            <select id="transport" name="transport">
                {% for transport in transports %}
                    <option value="{{transport.transport_id}}">
                            {{transport.transport_type}} $:{{transport.cost}}tk
                    </option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="destination" value="{{ destination }}">
        <input type="hidden" name="hotel" value="{{ hotel }}">
        <button type="submit" class="btn-submit">Submit</button>
    </form>
    <a href="{{url_for('profile')}}" class="bg-black text-white p-2">Go to Profile</a>
</div>

{% endblock %}
